name: senior_care
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter
  english_words: ^4.0.0
  provider: ^6.1.5
  firebase_core: ^4.1.1
  firebase_auth: ^6.1.0
  smooth_page_indicator: ^1.2.1
  shared_preferences: ^2.5.3
  qr_flutter: ^4.1.0
  mobile_scanner: ^7.1.2
  google_sign_in: ^7.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/